body{
  /* background-color: #33A5FF; */
  background-color: #6D7275 ; 
  color : #0C120C;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container > div {
  /* background-image: linear-gradient(to left, rgba(255,0,0,0), #99ccff);  */
  background-image: linear-gradient(to left, rgba(53, 35, 35, 0), #C7D6D5); 
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 80%;
}

#profilePic > img{
  height : 70%;
  width : 60%;
  border-radius: 50%;
  margin-left : 17%;
}

#profileHeading > h2 ,p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

.aboutHead{
  text-align: center;
}

.aboutDesc{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
  font-size: 25px;
}

.schoolInfo > ol{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
  font-size: 25px;
}

.schoolInfo > h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
  font-size: 28px;
}

.aboutHead > h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
  font-size: 30px;
}

.wrapperOne{
  display: flex;
}

#profilePic{
  width: 30%;
  height: 80%;
}

#profileHeading{
  width: 70%;
  height: 80%;
}

.wrapperTwo{
  /* background-image: linear-gradient(to left, rgba(255,0,0,0), #99ccff);  */
  border-radius: 25px;
}

.wrapperThree{
  align-items: center;
  /* background-image: linear-gradient(to left, rgba(255,0,0,0), #99ccff);  */
  border-radius: 25px;
}

.wrapperThree > div{
  display: flex;
  flex-direction: column;
  margin: 10px;  
}

#schoolInfoOne{
    width: 80%;
    display: flex;
    flex-direction: row;
}

#schoolInfoTwo{
  width: 80%;
  display: flex;
  flex-direction: row;
}

#schoolInfoThree{
  width: 80%;
  display: flex;
  flex-direction: row;
}

.imgInfo{
  width: 30%;
  height: 80%;
}

.schoolInfo{
  width: 70%;
  height: 80%;
} 

.imgInfo > img{
  margin-left: 40%;
  margin-top: 13%;
  border-radius: 40%;
  width: 85px;
  width: 70px;
}
